@{
    ViewData["Title"] = "Home Page";
}

<div id="welcomeMessage">
    <h1>Welcome</h1>
    <p>Learn more about <a href="https://myheroacademia.fandom.com/wiki/My_Hero_Academia_Wiki">My Hero Academia anime and manga</a>.</p>
</div>
