@model IViewModel
@{
    ViewData["Title"] = "SuperHeroes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //List<ISuperheroDisplayModel> superheroDisplayModels = ViewBag.Superheroes;
    
}


<div id="heroes">

    <h1>SuperHeroes</h1>
    <br />
    <div id="albumContainer">
    
        <img src='~/Imgs/HeroesImgs/@Model.SuperheroesDisplay[Model.SupeheroroPageIndex.PageIndex].HeroImage' id="SuperheroImg"/>
        <div id="HeroName"><b>@Model.SuperheroesDisplay[Model.SupeheroroPageIndex.PageIndex].HeroName</b></div>
        <div id="Rank"><b>@Model.SuperheroesDisplay[Model.SupeheroroPageIndex.PageIndex].Rank</b></div>
        <div id="Edit"><button type="button" class="btn btn-primary" id="editBtn">Edit &nbsp<span class="fa fa-pencil"></span></button></div>
        <div id="Delete"><button type="button" class="btn btn-danger" id="deleteBtn">Delete &nbsp<span class="fa fa-trash"></span></button></div>
        <div id="indexes">
        <form asp-action="SuperHeroes" method="post" id="indexForm">
            <input type="number" name="modelIndex" value=@Model.SupeheroroPageIndex.PageIndex/>
            <input type="submit" value="Album Index" class="btn btn-primary"/>
        </form>
        </div>    
    </div>
    <br />
</div>