@inherits LayoutComponentBase

<PageTitle>SuperheroesBlazorUI</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://myheroacademia.fandom.com/wiki/My_Hero_Academia_Wiki" target="_blank">About My Hero Academia</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
